body {
    margin: 0 0 100px 0;
}

#text {
    overflow: auto;
}

header {
    background-color: deepskyblue;
    padding: 10px;
    margin: 0;
    width: 100%;
}

h1 {
    font-size: 50px;
    margin: 0 0 0 50px;
    padding: 0;
    color: #323134;
}

header p {
    color: #323134;
}

h2 {
    margin-left: 20px;
    color: whitesmoke;
}

li {
    font-size:18px;
    color: whitesmoke;
}

p {
    margin-left: 20px;
    font-size: 18px;
    color: whitesmoke;
}

.left p {
    color: black;
}

.right p {
    color: black;
}

.subTitle {
    display: inline;
    width: 30%;
    margin-left: 55px;
    font-size: 20px;
}

.container {
   width:90%;
    overflow: auto;
    margin: 0 auto;
}

.left {
    float: left;
    width: 40%;
    background-color: deepskyblue;
    border-radius: 10px;
    margin: 20px 0 20px 50px;
}

.right {
    float: right;
    width: 40%;
    background-color: deepskyblue;
    border-radius: 10px;
    margin: 20px 50px 20px 0;

}
.normal {
    height: 100%;
    font-size: 13px;
    background-image: url("../img/greek-vase.png");
    background-size: auto;
    background-repeat: repeat;
}

.skiingbg {
    background-image: url("../img/mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

.podium {
    background-image: url("../img/podium.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    min-width:1430px;
}

#button {
    float: right;
    height: 50px;
    position: relative;
    bottom: 42px;
    margin: 0 50px 0 0;
    border-radius: 10px;
    font-size: 16px;
    background-color: #52D08E;
    border: 2px black solid;
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
    from {background-color: #52D08E}
    to {background-color: whitesmoke}
}

.layer {
    background-size: auto;
    background-repeat: repeat;
}

.finish {
    position: absolute;
    top: 29530px;
    left: 870px;
    height: 500px;
    transform: rotate(-15deg) skewX(-20deg);
}

#text {
    margin:0 0 20px 0;
    background-image: url("../img/dark.png");
}

#output {
    min-width:1350px;
    width: 1350px;
}


.skiing {
    width: 1430px;
    background-image: url("../img/snow.gif");
    font-size: 13px;
    background-size: auto;
    background-repeat: repeat;
}

.hidden {
    display: none;
}

.skier {
    display: block;
    position: absolute;
    height: 300px;
    width: 400px;
    transform: rotate(60deg);
}

.skierSwitch {
    display: block;
    position: absolute;
    height: 300px;
    width: 400px;
    transform: rotate(-60deg) scaleX(-1);
}

.skier2 {
    position: absolute;
    width: 900px;
    transform: rotate(-7deg);
    animation: rotate 1.5s infinite;
}

.banner {
    height: 150px;
    width: 100%;
    background-color: deepskyblue;
    animation: blinker2 0.4s infinite ease-in-out alternate;
    position: fixed;
    opacity: .5;
}

.banner h1 {
    text-align: center;
    font-size: 100px;
    color: black;
    margin-top: 20px;
}

@-webkit-keyframes blinker2 {
    0% {background-color: deepskyblue}
    25%{background-color: indianred}
    50%{background-color: gold}
    75%{background-color: springgreen}
    100% {background-color: whitesmoke}
}

@keyframes rotate {
    100% {transform: rotate(360deg)}
}


@media only screen and (max-width: 950px) {
    .skiingbg {
        background-position: center center;
    }

    .podium {
        background-position: center center;

    }
}
