html {
    max-width: 1430px;
}

body {
    margin-bottom: 100px;
}
.normal {
    width:1430px;
    height: 100%;
    font-size: 13px;
    background-image: url("../img/greek-vase.png");
    background-size: auto;
    background-repeat: repeat;
}

.skiingbg {
    background-image: url("../img/mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

.podium {
    background-image: url("../img/podium.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    min-width:1430px;
}

#button {
    float: left;
    position: absolute;
    left: 350px;
    top: 190px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #52D08E;
    border: 2px black solid;
    text-decoration: blink;
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
    from {background-color: #52D08E}
    to {background-color: whitesmoke}
}

.layer {
    background-size: auto;
    background-repeat: repeat;
}

.finish {
    position: absolute;
    top: 29530px;
    left: 870px;
    height: 500px;
    transform: rotate(-15deg) skewX(-20deg);
}

#output {
    min-width:1430px;
    width: 1430px;
}

.skiing {
    width: 1430px;
    background-image: url("../img/snow.gif");
    font-size: 13px;
    background-size: auto;
    background-repeat: repeat;
}

.hidden {
    display: none;
}

.skier {
    display: block;
    position: absolute;
    height: 200px;
    width: 300px;
    transform: rotate(60deg);
}

.skierSwitch {
    display: block;
    position: absolute;
    height: 200px;
    width: 300px;
    transform: rotate(-60deg) scaleX(-1);
}

.skier2 {
    position: absolute;
    width: 750px;
    transform: rotate(-7deg);
    animation: rotate 1.5s infinite;
}

@keyframes rotate {
    100% {transform: rotate(360deg)}
}


@media only screen and (max-width: 950px) {
    .skiingbg {
        background-position: center center;
    }

    .podium {
        background-position: center center;

    }
}
